:root{
    --color1: #001B48;
    --color2: #02457A;
    --color3: #018ABE;
    --color4: #97CADB;
    --color5: #D6E8EE;
}

*{
    font-family: 'Quicksand', sans-serif;
    color: var(--color5);
}

 body{
    background-color: var(--color2);
    margin: 0;
}
/*
.container{
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: var(--color1);
    padding: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header a{
    text-decoration: none;
}

#btn-menu{
    display:none;
}

header label{
    display: none;
    width:  30px;
    height: 30px;
    padding: 10px;
}

header label:hover{
    cursor: pointer;
    background: var(--color3);
}

.menu-nav ul{
    margin: 0;
    list-style: none;
    padding: 0px;
    display: flex;

}

.menu-nav li{
    border-right: 1px;
    display: inline-block;
}

.menu-nav li:hover{
    background-color: var(--color3);
}

.menu-nav ul li a{
    display: block;
    padding: 15px 20px;
    color: var(--color5);
    text-decoration: none;
    border-radius: 5px;
}

@media(max-width:780px){
    header label{
        display: block;
    }

    .menu-nav{
        position: absolute;
        background: var(--color3);
        width: 30%;
        min-width: 140px;
        max-width: 200px;
        margin-left: -80%;
        transition: all 0.5s;
    }

    .menu-nav ul{
        flex-direction: column;
    }

    .menu-nav li{
        border-top: 1px solid var(--color5);
        background: var(--color1);
    }

    #btn-menu:checked ~ .menu-nav{
        margin: 0;
    }
} */



.blender{
    position: fixed;
    left: 50%;
    top: 66%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    /* background-color: red; */
    background-image: url(../img/licuadora.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.blender.active{
    background-image: url(../img/licuadora2.png);
}
.blender-button{
    margin: 290px 90px 0px;
    width: 40px;
    height: 75px;
    /* background-color: #018ABE; */
}